# Postwork 5

### Objetivo
* Limpiar nuestro dataset de NaNs.
* Reindexar si es necesario
* Renombrar columnas si es necesario
* Experimentar la aplicación de agregaciones para explorar nuestro dataset

Importación de librerías y carga del dataset

In [1]:
import pandas as pd
import numpy as np

In [37]:
brute = pd.read_csv("https://raw.githubusercontent.com/POF77/Proyecto.BEDU.ModuloII/main/Datos_nuevos/bruteData.csv")
df = brute.copy()

### Desarrollo

Ya que tenemos nuestro dataset en un DataFrame y que hemos realizado una primera exploración, ha llegado la hora de hacer un poco de limpieza. Limpiar tu DataFrame es sumamente importante para poder utilizarlo después de manera cómoda y apropiada. También vamos a explorar nuestro dataset usando agregaciones para ver si podemos empezar a responder algunas de las preguntas que nos hemos planteado. Los pasos que debes de seguir son los siguientes:

#### 1. Explora tu dataset con el fin de encontrar los NaNs que contiene. Piensa en la distribución de NaNs por columna y por fila.

In [3]:
print(f'Dimensión del dataset: {df.shape[0]} filas y {df.shape[1]} columnas')

Dimensión del dataset: 21356 filas y 16 columnas

Cantidad de NaNs en el data

In [8]:
df.isna().sum()

country                                        0
year                                           0
iso3                                       19442
health_measure                                58
sex                                           58
respiratory_infections_and_tuberculosis       58
chronic_respiratory_diseases                  58
ClimateSource                              19442
climate_units                              19442
sector                                     19442
allghg                                     19442
co2                                        19442
ch4                                        19442
n2o                                        19442
fgas                                       19442
mean_annual_tempC                          19442
dtype: int64

#### 2. Piensa cuáles son los procedimientos que puedes aplicar a tus NaNs. ¿Tenemos que eliminar las filas/columnas que tienen esos NaNs? ¿O podríamos rellenar esos NaNs con algún valor de manera que podamos retener esas filas/columnas?


Debido a que es una cantidad grande de NaNs, se optará por eliminarlos

#### 3. Limpia tu dataset de manera que no quede ningún NaN.

Eliminación de columnas que no serán utilizadas y de filas duplicadas

In [44]:
df = df.drop(["iso3","health_measure","sex","ClimateSource","climate_units","sector"], axis=1)

df = df.drop_duplicates()

Eliminando NaN's de datos ambientales

In [45]:
df = df.dropna(subset=["allghg","co2","ch4","n2o","fgas","mean_annual_tempC"])
df.shape

(986, 10)

Eliminando NaN's de datos de salud

In [46]:
df = df.dropna(subset=["respiratory_infections_and_tuberculosis","chronic_respiratory_diseases"])
df.shape

(928, 10)

#### 4. Reindexa tu dataset si lo consideras necesario.

In [47]:
df = df.reset_index(drop=True)

#### 5. Renombra tus columnas si lo consideras necesario.

In [48]:
new_names = {
    "allghg":"all_greenhouse_gas",
    "co2":"CO2_carbon_dioxide",
    "ch4":"CH4_methane",
    "n2o":"N2O_nitrous_oxide"
}

df = df.rename(columns=new_names)

#### 6. Prueba aplicar agregaciones a tu DataFrame para ver si puedes empezar a responder algunas de las preguntas que te planteaste anteriormente. Aquí tienes una lista de algunas de las funciones que puedes utilizar para agregar/reducir tu dataset:

In [ ]:
# np.mean(df["mean_annual_tempC"])

9.564829312957174

#### Análisis de dataset resultante

In [52]:
#porcentaje de datos no eliminados

porcentaje = df.shape[0] / brute.shape[0] * 100
print(f'filas del dataset crudo: {brute.shape[0]} \nfilas del dataset después de limpieza: {df.shape[0]}')
print(f'Porcentaje de datos netos: {porcentaje:.2f}%')

filas del dataset crudo: 21356
filas del dataset después de limpieza: 928
Porcentaje de datos netos: 4.35%

Cantidad de datos por país:

In [53]:
df["country"].value_counts()

Poland            29
Germany           29
Portugal          29
Norway            29
Hungary           29
Iceland           29
Mexico            29
New Zealand       29
Luxembourg        29
Turkey            29
Sweden            29
Spain             29
Greece            29
Australia         29
Netherlands       29
Slovakia          29
Israel            29
Switzerland       29
Estonia           29
Canada            29
Ireland           29
Slovenia          29
Japan             29
United Kingdom    29
Italy             29
Austria           29
France            29
Latvia            29
Belgium           29
Denmark           29
Finland           29
Chile             29
Name: country, dtype: int64

Años registrados

In [57]:
print(f'cantidad de años registrados: {max(df["year"]) - min(df["year"])}')
print(f'desde {min(df["year"])} hasta {max(df["year"])}')

cantidad de años registrados: 28
desde 1990 hasta 2018